@import url("https://coolors.co/658383-909872-c67b31-aabd8c");
@import url('https://fonts.googleapis.com/css?family=IM+Fell+French+Canon+SC|Lato');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Noto+Sans+Display:wght@200&');

#content {
    max-width: 1600px;
    margin: 0 auto;
}
header {
    width: auto;
    display: grid;
    grid-template-columns: 100px auto;
    
}
.top_nav {
    overflow: hidden;
    background-color: #c67b31;
}
.top_nav a {
    display: block;
    text-align: center;
    text-decoration: none;
    font-family:  Noto-Sans-Display, Sans, sans-serif;
    font-size: 30px;
    padding: 20px 25px;
    float: left;
    color: black;
}
.top_nav a:hover {
    background-color: #c67b31;
    color: black;
}
.top_nav a.active {
    background-color: #8cbfb9;
    color: white;
}
.top_nav .login-container {
    float: right;
}
.top_nav input[type=text] {
    padding: 6px;
    margin-top: 5px;
    font-size: 20px;
    border: none;
    width: 150px;
}
.top_nav .login-container-button {
    float: right;
    padding: 6px;
    margin-top: 5px;
    margin-right: 16px;
    background: #658383;
    font-size: 20px;
    border: none;
    cursor: pointer;
}
.top_nav .login-container button:hover {
    background: #658383;
}
.logo {
    width: 100px;
}
footer {
    width: auto;
    display: grid;
    grid-template-columns: auto;
      
}

.bottom_nav{
    align-items: center;
    display: block;
    justify-content: space-around;
    margin-top: 200px;
    text-align: center;
    font-family: Noto-Sans-Display, Sans, sans-serif;
    font-size: 20px;
    padding: 100px 150px;
    background-color: #c67b31;
    overflow: hidden;
}

.social {
    padding-top: 10px;

}
.bottom_nav a {
    display: block;
    text-align: center;
    text-decoration: none;
    font-family:  Noto-Sans-Display, Sans, sans-serif;
    font-size: 20px;
    padding: 20px 25px;
    float: left;
}
#quote, h1 {
    display: block;
    text-align: center;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #658383;
    color: #909872;

}
.wonders {
    text-align: center;
    position: relative;
    display: grid;
    grid-template-columns: 2fr 0.5fr 2fr 0.5fr;
    background-color: #658383;   
}
.life-img {
    grid-column: 1/2;
    grid-row: 1/4;

}
.msg-1 {
    grid-column: 2/3;
    grid-row: 1/3;
    margin-left: -250px;
    float: left;
    width: 150px;
    height: 70px;
    
    
}
.found-img {
    grid-column: 3/5;
    grid-row: 1/4;
    padding-right: 70px;
}
.msg {
    grid-column: 4/5;
    grid-row: 2/3;
    margin-left: -200px;
    float: left;
    width: 150px;
    height: 70px;
}
.live-agent {
    text-align: center;
    font-family: Lobster, sans-serif, aerial;
    font-size: 30px;
    padding-top: 20px;
}
div {
    background-color: #658383;
}
/*about us css*/
.about {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.aboutus {
    grid-column: 1/2;
    grid-row: 1/3;
}
h5 {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: #909872;
    justify-items: space-around;
    text-align: center;
}
.start {
    font-family: Arial, Helvetica, sans-serif;
    justify-content: space-around;
    color: black;
}
.who {
    grid-column: 2/3;
    grid-row: 1/3;
}
dl {
    margin-top: -500px;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    color: #658383;
}
.ourteam {
    grid-column: 3/4;
    grid-row: 1/4;
}
.team {
    margin-top: -200px;
    font-size: 25px;
    font-family: Noto+Sans+Display, Sans, sans-serif;
    color: #c67b31;
}
.story {
    margin-top: -200px;
    font-size: 20px;
}
/* faq css here */
.faq-container {
    display: grid;
    grid-template-columns: 1fr  3fr;
}
.notes {
    font-size: 20px;
    font-family: Lobster, sans-serif, aerial;
    color: #909872;
}
.faq {
    justify-items: center;
    font-family: Noto+Sans+Display, Sans, sans-serif;
    font-size: 25px;
}
.text {
    justify-content: space-around;
    margin: 15px 15px;
    font-size: 20px;
    font-family: Noto+Sans+Display, Sans, sans-serif;
    color: #8cbfb9
}
